* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Muli';
    outline: none;
}
.loader {
    display: none;
    border: 10px solid #f2f2f2;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 35px;
    right: 30px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.row {
    display: flex;    
}
.flx-4 {
    flex: 4 !important;
}
.chevron::before {
	border-style: solid;
    border-color: #626366;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 1.15em;
    position: relative;
    vertical-align: top;
    width: 0.45em;
    top: 4px;
    transform: rotate(135deg);
}
.chevron.right:before {
	left: -5px;
	transform: rotate(45deg);
}
.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}
.mr3 {
    margin-right: 30px;
}
.mr4 {
    margin-right: 40px;
}
.title {
    color: #626366;
}
.container {
    margin: auto;
    display: flex;
    padding: 40px 0;
    width: 80%;
    justify-content: center;
}
.header {
    background: #FFF;
    display: flex;
    padding: 22px 20px;
    justify-content: center;
}
.header img {
    object-fit: contain;
}
.header-nav {
    display: flex;
    align-items: center;
    padding-left: 70px;
}
.header-nav ul {
    display: flex;
    align-items: center;
}
.header-nav-anchor {
    font-weight: normal;
    font-size: 14px;
    text-align: end;
    text-decoration: none;
}
.header-aside {
    display: flex;
    align-items: center;
}
.header-aside ul {
    display: flex;
}
.header-aside ul li {
    display: flex;
    align-items: center;
}
.header-aside::before {
    content: '';
    border-left: 1px solid #626366;
    height: 50%;
    width: 1px;
    margin: 0 40px;
}
.header-icons.search-icon {
    width: 22px;
}
.header-icons.menu-icon {
    width: 30px;
}
.banner img {
    width: 100%;
}
.company-topics {
    display: flex;
    flex-wrap: wrap;
}
.company-topics div:nth-child(4), .company-topics div:nth-child(8){
    margin-right: 0;
}
.topic-card {
    width: 20%;
    height: 210px;
    margin: 22px 22px 0 0;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border: 1px solid #e2e2e2;
    align-items: center;
    justify-content: space-between;
}
.topic-card-icon {
    object-fit: contain;
    width: 70px;
    height: 100px;
}
.topic-card-name {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
.topic-card-link {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
}
.videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.videos-container h2{
    font-size: 30px;
    font-weight: bold;
}
.video-list {
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.video-list div {
    margin-right: 22px;
}
.video-card {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #e2e2e2;
}
.video-card img {
    width: 40%;
    object-fit: contain;
}
.video-list-indicators {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.video-list-indicators li {
    border-radius: 10px;
    width: 12px;
    height: 12px;
    border: 1px solid #e2e2e2;
    margin-right: 5px;
}
.video-list-indicators .active {
    background: #00abe1;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container h2 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .05em;
    padding-bottom: 40px;
}
.form-container .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 80px;
}
.form-container .form > div {
    margin-bottom: 20px;
}
.form-container .form .formfield {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px;
}
.form-container .form .formfield label {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 8px;
}
.form-container .form .formfield input {
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
}
.cep {
    position: relative;
}
.cep-message {
    color: transparent;
    position: absolute;
    font-size: 11px;
    bottom: -15px;
    transition: .3s;
}
.form .btn-form {
    width: fit-content;
    border: 1px solid #00aae2;
    background: #FFF;
    color: #00aae2;
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: .18em;
    margin-top: 40px;
    align-self: center;
}
footer {
    display: flex;
    color: #FFF;
    margin-top: 40px;
}
.bg-primary {
    background: #222222;
    width: 45%;
}
.bg-primary-ligth {
    background: #383838;
    width: 13%
}
.bg-secundary {
    background: #565656;
    width: 13%
}
.bg-secundary-ligth {
    background: #686868;
    width: 29%;
}
.footer-column {
    padding: 80px 25px;
}
.footer-social {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-social ul {
    display: flex;
    justify-content: space-between;
}
.footer-social ul li a {
    color: #FFF;
}
.footer-column:first-child {
    display: flex;
    justify-content: space-between;
    padding: 80px 40px 80px 220px;
}
.footer-column h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    color: #FFF;
}
.footer-column nav ul li {
    margin-top: 15px;
}
.footer-column nav ul li:first-child {
    margin-top: 20px;
}
.footer-column nav ul li a {
    font-size: 12px;
    color: #FFF;
    font-weight: normal;
    text-decoration: none;
}
.footer-contacts {
    font-size: 12px;
    color: #FFF;
    font-weight: normal;
    text-decoration: none;
    margin-top: 25px;
}
.footer-contacts div:not(:first-child) {
    margin-top: 5px;
}

@media screen and (max-width: 1250px) {
    .header-nav {
        padding-left: 20px;
    }
    .header-aside ul li:not(:last-child) {
        margin-right: 20px;
    }
    .footer-column:first-child {
        padding: 80px 40px 80px 180px;
    }
}
@media screen and (max-width: 1155px) {
    .header-nav ul li:not(:last-child) {
        margin-right: 30px;
    }
    .header-aside::before {
        margin: 0 20px;
    }
    .footer-column:first-child {
        padding: 80px 40px 80px 120px;
    }
}
@media screen and (max-width: 1012px) {
    .header-aside::before {
        margin: 0 10px;
    }
}
@media screen and (max-width: 1008px) {
    .header {
        justify-content: space-between;
        padding: 22px 40px;
    }
    .header-nav {
        display: none;
    }
    .header-aside ul li:first-child {
        display: none;
    }
    .header-aside ul li:not(:last-child) {
        margin-right: 40px;
    }
    .header-aside::before {
        display: none;
    }
    .company-topics div:nth-child(4){
        margin-right: 22px;
    }
    .company-topics div:nth-child(3), .company-topics div:nth-child(6){
        margin-right: 0;
    }
    .topic-card {
        width: 30%;
    }
    .form-container .form {
        padding: 0;
    }
}
@media screen and (max-width: 950px) {
    .footer-column:first-child {
        padding: 80px 40px 80px 80px;
    }
}
@media screen and (max-width: 880px) {
    footer {
        flex-direction: column;
    }
    .footer-column {
        width: 100%;
        padding: 40px 25px;
    }
    .footer-column:first-child {
        padding: 40px 25px;
        flex-direction: row-reverse;
    }
    .footer-social {
        height: auto;
        margin-right: 40px;
    }
}
@media screen and (max-width: 825px) {
    .company-topics div:nth-child(1), .company-topics div:nth-child(2){
        margin-top: 0;
    }
    .company-topics div:nth-child(odd){
        margin-right: 22px;
    }
    .company-topics div:nth-child(even){
        margin-right: 0;
    }
    .topic-card {
        width: 45%;
    }
    .video-list div:nth-child(2) {
        display: none;
    }
    .video-card {
        width: 250px;
    }
}
@media screen and (max-width: 660px) {
    .video-list div {
        margin: 0;
    }
    .video-list div:nth-child(3) {
        display: none;
    }
    .video-card {
        width: 400px;
        padding: 70px;
        margin: 0 20px !important;
    }
}
@media screen and (max-width: 550px) {
    .form .row {
        flex-direction: column;
    }
    .form .row div:last-child {
        margin-top: 20px;
    }
    .header {
        padding: 22px 20px;
    }
    .container {
        width: 100%;
    }
    .topic-card {
        width: 42%;
    }
}
@media screen and (max-width: 460px) {
    .video-card {
        width: 300px;
        padding: 20px;
    }
}